In [1]:
import math

def max_index(lst_int):
    index = []
    max_n = max(lst_int)
    for i in range(len(lst_int)):
        if lst_int[i] == max_n:
            index.append(i)
    return index
def getAQI(list):
    IAQI_temp=[]
    IAQI=[
    [0,50,100,150,200,300,400,500],
    [0,50,150,475,800,1600,2100,2620],
    [0,40,80,180,280,565,750,940],
    [0,50,150,250,350,420,500,600],
    [0,35,75,115,150,250,350,500],
    [0,100,160,215,265,800],
    [0,2,4,14,24,36,48,60]]
    for i in range(len(list)):
        Cp=list[i]
        IAQI_poll=IAQI[i+1]
        BP_Hi,BP_Lo=0,0
        IAQI_Hi,IAQI_Lo=0,0
        for j in range(len(IAQI_poll)):
            if  Cp<IAQI_poll[j]:
                BP_Hi=IAQI_poll[j]
                IAQI_Hi=IAQI[0][j]
                if j==0:
                    BP_Lo=0
                    IAQI_Lo=0
                else:
                    BP_Lo=IAQI_poll[j-1]
                    IAQI_Lo=IAQI[0][j-1]
                break
        if BP_Hi==BP_Lo:
            IAQI_t=0
        else:
            IAQI_t=math.ceil(((IAQI_Hi-IAQI_Lo)/(BP_Hi-BP_Lo))*(Cp-BP_Lo)+IAQI_Lo)
        IAQI_temp.append(IAQI_t)
    return max(IAQI_temp),max_index(IAQI_temp)

In [3]:
import pandas as pd

In [4]:
pre=pd.read_csv('data/A_pre.csv')

In [6]:
pre.MainP

0      [1]
1      [1]
2      [1]
3      [1]
4      [1]
      ...
348    [1]
349    [1]
350    [1]
351    [1]
352    [1]
Name: MainP, Length: 353, dtype: object

In [24]:
act=pd.read_csv('data/act_A.csv')

In [8]:
AQI_loss=((pre.AQI-act.AQI)**2).mean()

In [9]:
AQI_loss

1795.960339943343

In [18]:
act

,Unnamed: 0,SO2,NO2,PM10,PM2.5,O3,CO,T,H,P,WS,WD,AQI,MainPStr,DAQI,MainP,AP
0,0,5.0,75.0,61.0,38.0,1.0,1.0,21.1,89.0,1013.0,1.2,346.5,94.0,NO2,-14.0,1,0.602568
1,1,5.0,64.0,60.0,41.0,25.0,0.8,20.4,92.0,1012.4,1.1,18.0,80.0,NO2,-5.0,1,0.510956
2,2,4.0,60.0,36.0,40.0,25.0,0.8,20.0,93.0,1011.3,1.1,65.9,75.0,NO2,-26.0,1,0.240218
3,3,4.0,39.0,35.0,33.0,41.0,0.7,19.8,93.0,1010.4,1.5,78.4,49.0,NO2,6.0,1,-0.039965
4,4,4.0,39.0,28.0,39.0,36.0,0.8,19.9,92.0,1010.0,1.5,73.5,55.0,PM2.5,0.0,3,-0.023448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19372,19426,6.0,11.0,13.0,-3.0,17.0,0.3,29.4,77.0,1006.4,0.8,348.4,14.0,NO2,1.0,1,-1.045725
19373,19427,6.0,12.0,12.0,0.0,14.0,0.4,29.2,78.0,1006.2,0.8,350.5,15.0,NO2,4.0,1,-0.988665
19374,19428,7.0,15.0,9.0,0.0,11.0,0.4,29.2,78.0,1006.3,0.7,246.3,19.0,NO2,5.0,1,-0.970977
19375,19429,9.0,19.0,9.0,2.0,8.0,0.4,29.2,78.0,1006.4,1.0,253.2,24.0,NO2,1.0,1,-0.879228
19376,19430,8.0,20.0,22.0,5.0,6.0,0.4,29.0,81.0,1006.8,0.5,267.9,25.0,NO2,-3.0,1,-0.762013

In [25]:
act

,监测日期,SO2监测浓度(μg/m³),NO2监测浓度(μg/m³),PM10监测浓度(μg/m³),PM2.5监测浓度(μg/m³),O3最大八小时滑动平均监测浓度(μg/m³),CO监测浓度(mg/m³)
0,2020-07-23,5,13,23,6,128,0.5
1,2020-07-24,6,14,27,7,137,0.5
2,2020-07-25,6,12,25,8,130,0.5
3,2020-07-26,6,9,22,6,101,0.5
4,2020-07-27,5,9,0,3,73,0.5
...,...,...,...,...,...,...,...
348,2021-07-09,7,17,28,12,146,0.4
349,2021-07-10,6,13,20,5,81,0.4
350,2021-07-11,6,11,20,3,63,0.3
351,2021-07-12,6,11,17,5,81,0.4
352,2021-07-13,0,0,0,0,0,0.0

In [17]:
pre=pre.iloc[:,16:22]

In [26]:
act=act.iloc[:,1:7]

In [23]:
pre.loc[352:354,:]

,SO2小时平均浓度(μg/m³),NO2小时平均浓度(μg/m³),PM10小时平均浓度(μg/m³),PM2.5小时平均浓度(μg/m³),O3小时平均浓度(μg/m³),CO小时平均浓度(mg/m³)
352,4.145195,34.151596,9.123673,6.470941,29.083499,0.23783

In [27]:
pn=0
AQI_loss=0
for i in range(len(act)):
    list_pre=pre.loc[i,:]
    list_act=act.loc[i,:]
    ap,mp=getAQI(list_pre)
    aa,ma=getAQI(list_act)
    AQI_loss=AQI_loss+(ap-aa)**2
    if set(ma)<=set(mp):
        pn=pn+1
pn=pn/len(act)
AQI_loss =  AQI_loss/len(act)

In [28]:
pn

0.24079320113314448

In [29]:
AQI_loss

1682.4192634560907