In [20]:
import torch
import numpy as np
import pandas as pd

In [21]:
d = pd.read_excel('./data/AcDataA2_pre.xlsx')

In [23]:
d.loc[6432:6435]

,time,SO2,NO2,PM10,PM2.5,O3,CO,T,H,P,WS,WD
6432,2020-07-23 08:00:00,12.0,17.0,18.0,6.0,29.0,0.4,30.3,63.0,1007.7,1.5,175.1
6433,2020-07-23 09:00:00,12.0,16.0,17.0,5.0,41.0,0.4,31.3,57.0,1007.8,1.5,182.6
6434,2020-07-23 10:00:00,11.0,16.0,21.0,6.0,69.0,0.4,32.8,51.0,1007.7,1.5,186.2
6435,2020-07-23 11:00:00,9.0,10.0,24.0,14.0,99.0,0.3,33.4,45.0,1007.4,1.9,191.6

In [19]:
d=d.loc[4344:]
d.to_excel('./data/AcDataA0_pre.xlsx')

In [12]:
x.transpose(1,0)

array([[11, 55,  1],
       [22,  6,  2],
       [33,  7,  3],
       [44,  8,  4]])