In [43]:
import pandas as pd

In [86]:
d = pd.read_excel('./data/AcDataA.xlsx')

In [94]:
d['time'].astype('datetime64[ns]')

0       2019-04-16 00:00:00
1       2019-04-16 01:00:00
2       2019-04-16 02:00:00
3       2019-04-16 03:00:00
4       2019-04-16 04:00:00
                ...
19427   2021-07-13 03:00:00
19428   2021-07-13 04:00:00
19429   2021-07-13 05:00:00
19430   2021-07-13 06:00:00
19431   2021-07-13 07:00:00
Name: time, Length: 19432, dtype: datetime64[ns]

In [95]:
d.to_excel('./data/AcDataA.xlsx')

In [148]:
df = pd.read_excel('./data/AcDataA.xlsx',  index_col=0)

In [107]:
df

,pos,SO2,NO2,PM10,PM2.5,O3,CO,T,H,P,WS,WD,AQI,MainPStr,DAQI,MainP
time,,,,,,,,,,,,,,,,
2019-04-16 00:00:00,监测点A,5.0,75.0,61.0,38.0,1.0,1.0,21.1,89.0,1013.0,1.2,346.5,94,NO2,-14.0,1
2019-04-16 01:00:00,监测点A,5.0,64.0,60.0,41.0,25.0,0.8,20.4,92.0,1012.4,1.1,18.0,80,NO2,-5.0,1
2019-04-16 02:00:00,监测点A,4.0,60.0,36.0,40.0,25.0,0.8,20.0,93.0,1011.3,1.1,65.9,75,NO2,-26.0,1
2019-04-16 03:00:00,监测点A,4.0,39.0,35.0,33.0,41.0,0.7,19.8,93.0,1010.4,1.5,78.4,49,NO2,6.0,1
2019-04-16 04:00:00,监测点A,4.0,39.0,28.0,39.0,36.0,0.8,19.9,92.0,1010.0,1.5,73.5,55,PM2.5,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-13 03:00:00,监测点A,6.0,12.0,12.0,0.0,14.0,0.4,29.2,78.0,1006.2,0.8,350.5,15,NO2,4.0,1
2021-07-13 04:00:00,监测点A,7.0,15.0,9.0,0.0,11.0,0.4,29.2,78.0,1006.3,0.7,246.3,19,NO2,5.0,1
2021-07-13 05:00:00,监测点A,9.0,19.0,9.0,2.0,8.0,0.4,29.2,78.0,1006.4,1.0,253.2,24,NO2,1.0,1
2021-07-13 06:00:00,监测点A,8.0,20.0,22.0,5.0,6.0,0.4,29.0,81.0,1006.8,0.5,267.9,25,NO2,-3.0,1
2021-07-13 07:00:00,监测点A,8.0,14.0,22.0,5.0,19.0,0.4,30.2,75.0,1007.0,1.2,240.9,22,PM10,NaN,2

In [149]:
df.index=df.index.astype('datetime64[ns]')

In [150]:
df.index

DatetimeIndex(['2019-04-16 00:00:00', '2019-04-16 01:00:00',
               '2019-04-16 02:00:00', '2019-04-16 03:00:00',
               '2019-04-16 04:00:00', '2019-04-16 05:00:00',
               '2019-04-16 06:00:00', '2019-04-16 07:00:00',
               '2019-04-16 08:00:00', '2019-04-16 09:00:00',
               ...
               '2021-07-12 22:00:00', '2021-07-12 23:00:00',
               '2021-07-13 00:00:00', '2021-07-13 01:00:00',
               '2021-07-13 02:00:00', '2021-07-13 03:00:00',
               '2021-07-13 04:00:00', '2021-07-13 05:00:00',
               '2021-07-13 06:00:00', '2021-07-13 07:00:00'],
              dtype='datetime64[ns]', name='time', length=19432, freq=None)

In [124]:
i=1
len(df.loc['2019-05-'+str(i)])

24

In [125]:
i!=1

False

In [132]:
for i in (range(1,32)):
    if len(df.loc['2019-05-'+str(i)])!=24:
        print(i)

6

In [133]:
df.loc['2019-05-'+str(6)]

,pos,SO2,NO2,PM10,PM2.5,O3,CO,T,H,P,WS,WD,AQI,MainPStr,DAQI,MainP
time,,,,,,,,,,,,,,,,
2019-05-06 00:00:00,监测点A,7.000000,43.000000,16.000000,15.000000,18.0,0.700000,20.100000,94.000000,1007.400000,1.300000,32.500000,54,NO2,-5.0,1
2019-05-06 01:00:00,监测点A,7.000000,39.000000,22.000000,17.000000,19.0,0.700000,20.000000,94.000000,1006.800000,1.400000,31.000000,49,NO2,4.0,1
2019-05-06 02:00:00,监测点A,7.000000,42.000000,25.000000,20.000000,15.0,0.700000,19.900000,94.000000,1006.400000,1.500000,20.300000,53,NO2,0.0,1
2019-05-06 03:00:00,监测点A,5.000000,42.000000,16.000000,11.000000,15.0,0.600000,19.900000,94.000000,1006.100000,1.400000,24.300000,53,NO2,1.0,1
2019-05-06 04:00:00,监测点A,5.000000,43.000000,11.000000,11.000000,13.0,0.600000,19.900000,95.000000,1006.200000,1.200000,32.400000,54,NO2,-6.0,1
2019-05-06 05:00:00,监测点A,6.000000,38.000000,10.000000,8.000000,20.0,0.600000,19.900000,95.000000,1006.600000,1.400000,30.500000,48,NO2,-1.0,1
2019-05-06 06:00:00,监测点A,5.000000,37.000000,10.000000,5.000000,19.0,0.600000,19.800000,95.000000,1006.900000,1.300000,29.000000,47,NO2,8.0,1
2019-05-06 07:00:00,监测点A,5.000000,44.000000,12.000000,6.000000,13.0,0.700000,20.000000,95.000000,1007.500000,1.400000,26.000000,55,NO2,5.0,1
2019-05-06 08:00:00,监测点A,4.000000,48.000000,13.000000,8.000000,12.0,0.700000,20.200000,95.000000,1007.800000,1.600000,36.700000,60,NO2,2.0,1
2019-05-06 09:00:00,监测点A,4.000000,49.000000,15.000000,8.000000,13.0,0.700000,20.400000,95.000000,1008.400000,1.500000,31.500000,62,NO2,-2.0,1
2019-05-06 10:00:00,监测点A,4.000000,48.000000,18.000000,7.000000,16.0,0.700000,20.800000,93.000000,1008.300000,1.600000,35.200000,60,NO2,-1.0,1
2019-05-06 11:00:00,监测点A,6.000000,47.000000,21.000000,10.000000,21.0,0.700000,21.300000,89.000000,1008.000000,1.900000,33.000000,59,NO2,-5.0,1
2019-05-06 12:00:00,监测点A,6.000000,43.000000,24.000000,13.000000,33.0,0.700000,21.900000,86.000000,1007.900000,1.900000,46.100000,54,NO2,-5.0,1
2019-05-06 13:00:00,监测点A,6.000000,39.000000,24.000000,18.000000,49.0,0.600000,22.200000,84.000000,1007.400000,2.000000,41.400000,49,NO2,14.0,1
2019-05-06 14:00:00,监测点A,5.500000,50.000000,38.000000,17.000000,24.0,0.800000,21.400000,90.000000,1006.000000,1.900000,27.000000,63,NO2,10.0,1
2019-05-06 16:00:00,监测点A,5.000000,58.000000,28.000000,14.000000,16.5,0.800000,21.100000,92.000000,1005.800000,1.800000,22.000000,73,NO2,5.0,1
2019-05-06 17:00:00,监测点A,5.000000,62.000000,20.000000,14.000000,9.0,0.800000,20.900000,94.000000,1006.100000,1.600000,27.600000,78,NO2,-6.0,1
2019-05-06 18:00:00,监测点A,5.000000,57.000000,26.000000,12.000000,12.0,0.800000,20.800000,94.000000,1006.400000,1.600000,39.500000,72,NO2,-7.0,1
2019-05-06 19:00:00,监测点A,5.000000,52.000000,14.000000,13.000000,14.0,0.700000,20.800000,94.000000,1007.000000,1.700000,31.000000,65,NO2,-5.0,1
2019-05-06 20:00:00,监测点A,5.133333,50.466667,14.866667,12.866667,15.6,0.693333,20.846667,93.066667,1007.166667,1.766667,33.220000,64,NO2,-5.0,1
2019-05-06 21:00:00,监测点A,5.142857,46.642857,14.000000,10.071429,18.5,0.692857,20.664286,93.000000,1007.921429,1.585714,49.721429,59,NO2,-2.0,1
2019-05-06 22:00:00,监测点A,5.285714,45.285714,15.000000,10.142857,20.0,0.685714,20.728571,92.000000,1008.042857,1.671429,50.842857,57,NO2,-2.0,1
2019-05-06 23:00:00,监测点A,5.428571,43.928571,16.000000,10.214286,21.5,0.678571,20.792857,91.000000,1008.164286,1.757143,51.964286,55,NO2,-1.0,1

In [151]:
data=df
data.drop('pos', axis=1, inplace=True)
data.drop('AQI', axis=1, inplace=True)
data.drop('MainPStr', axis=1, inplace=True)
data.drop('MainP', axis=1, inplace=True)
data.drop('DAQI', axis=1, inplace=True)

In [154]:
istr=('2019-05-'+str(6)+' '+str(15)+':00:00')

In [157]:
istr1=pd.to_datetime(istr)

In [158]:
istr1

Timestamp('2019-05-06 15:00:00')

In [195]:
def forwardFill():
    dayn2021=[31,28,31,30,31,30,13,31,30,31,30,31]
    dayn2020=[31,29,31,30,31,30,31,31,30,31,30,31]
    dayn2019=[31,28,31,15,31,30,31,31,30,31,30,31]
    istr_last='2019-04-16 0:00:00'
    for i in range(4,13):
        for j in range(1,dayn2019[i-1]+1):
            for k in range(0,24):
                istr = '2019-'+str(i)+'-'+str(j)+' '+str(k)+':00:00'
                if i==4:
                    istr = '2019-'+str(i)+'-'+str(j+15)+' '+str(k)+':00:00'
                if istr not in data.index:
                    print(istr)
                    data.loc[pd.to_datetime(istr)]=data.loc[istr_last]
                    data.sort_values(by='time', inplace=True)
                istr_last=istr
    for i in range(1,13):
        for j in range(1,dayn2020[i-1]+1):
            for k in range(0,24):
                istr = '2020-'+str(i)+'-'+str(j)+' '+str(k)+':00:00'
                if istr not in data.index:
                    print(istr)
                    data.loc[pd.to_datetime(istr)]=data.loc[istr_last]
                    data.sort_values(by='time', inplace=True)
                istr_last=istr
    for i in range(1,8):
        for j in range(1,dayn2021[i-1]+1):
            for k in range(0,24):
                istr = '2021-'+str(i)+'-'+str(j)+' '+str(k)+':00:00'
                if istr not in data.index:
                    print(istr)
                    data.loc[pd.to_datetime(istr)]=data.loc[istr_last]
                    data.sort_values(by='time', inplace=True)
                istr_last=istr
    return

In [ ]:
len(data.loc['2019-4'])

In [1]:
a=[[1,2,3],[2,3,4]]
b=[[3,4,5],[4,5,6]]

In [2]:
c=a+b

In [3]:
c

[[1, 2, 3], [2, 3, 4], [3, 4, 5], [4, 5, 6]]

In [196]:
forwardFill()

2021-7-14 0:00:00
2021-7-14 1:00:00
2021-7-14 2:00:00
2021-7-14 3:00:00
2021-7-14 4:00:00
2021-7-14 5:00:00
2021-7-14 6:00:00
2021-7-14 7:00:00
2021-7-14 8:00:00
2021-7-14 9:00:00
2021-7-14 10:00:00
2021-7-14 11:00:00
2021-7-14 12:00:00
2021-7-14 13:00:00
2021-7-14 14:00:00
2021-7-14 15:00:00
2021-7-14 16:00:00
2021-7-14 17:00:00
2021-7-14 18:00:00
2021-7-14 19:00:00
2021-7-14 20:00:00
2021-7-14 21:00:00
2021-7-14 22:00:00
2021-7-14 23:00:00
2021-7-15 0:00:00
2021-7-15 1:00:00
2021-7-15 2:00:00
2021-7-15 3:00:00
2021-7-15 4:00:00
2021-7-15 5:00:00
2021-7-15 6:00:00
2021-7-15 7:00:00
2021-7-15 8:00:00
2021-7-15 9:00:00
2021-7-15 10:00:00
2021-7-15 11:00:00
2021-7-15 12:00:00
2021-7-15 13:00:00
2021-7-15 14:00:00
2021-7-15 15:00:00
2021-7-15 16:00:00
2021-7-15 17:00:00
2021-7-15 18:00:00
2021-7-15 19:00:00
2021-7-15 20:00:00
2021-7-15 21:00:00
2021-7-15 22:00:00
2021-7-15 23:00:00
2021-7-16 0:00:00
2021-7-16 1:00:00
2021-7-16 2:00:00
2021-7-16 3:00:00
2021-7-16 4:00:00
2021-7-16 5:00:00
2021-7-16 6:00:00
2021-7-16 7:00:00
2021-7-16 8:00:00
2021-7-16 9:00:00
2021-7-16 10:00:00
2021-7-16 11:00:00
2021-7-16 12:00:00
2021-7-16 13:00:00
2021-7-16 14:00:00
2021-7-16 15:00:00
2021-7-16 16:00:00
2021-7-16 17:00:00
2021-7-16 18:00:00
2021-7-16 19:00:00
2021-7-16 20:00:00
2021-7-16 21:00:00
2021-7-16 22:00:00
2021-7-16 23:00:00
2021-7-17 0:00:00
2021-7-17 1:00:00
2021-7-17 2:00:00
2021-7-17 3:00:00
2021-7-17 4:00:00
2021-7-17 5:00:00
2021-7-17 6:00:00
2021-7-17 7:00:00
2021-7-17 8:00:00
2021-7-17 9:00:00
2021-7-17 10:00:00
2021-7-17 11:00:00
2021-7-17 12:00:00
2021-7-17 13:00:00
2021-7-17 14:00:00
2021-7-17 15:00:00
2021-7-17 16:00:00
2021-7-17 17:00:00
2021-7-17 18:00:00
2021-7-17 19:00:00
2021-7-17 20:00:00
2021-7-17 21:00:00
2021-7-17 22:00:00
2021-7-17 23:00:00
2021-7-18 0:00:00
2021-7-18 1:00:00
2021-7-18 2:00:00
2021-7-18 3:00:00
2021-7-18 4:00:00
2021-7-18 5:00:00
2021-7-18 6:00:00
2021-7-18 7:00:00
2021-7-18 8:00:00
2021-7-18 9:00:00
2021-7-18 10:00:00
2021-7-18 11:00:00
2021-7-18 12:00:00
2021-7-18 13:00:00
2021-7-18 14:00:00
2021-7-18 15:00:00
2021-7-18 16:00:00
2021-7-18 17:00:00
2021-7-18 18:00:00
2021-7-18 19:00:00
2021-7-18 20:00:00
2021-7-18 21:00:00
2021-7-18 22:00:00
2021-7-18 23:00:00
2021-7-19 0:00:00
2021-7-19 1:00:00
2021-7-19 2:00:00
2021-7-19 3:00:00
2021-7-19 4:00:00
2021-7-19 5:00:00
2021-7-19 6:00:00
2021-7-19 7:00:00
2021-7-19 8:00:00
2021-7-19 9:00:00
2021-7-19 10:00:00
2021-7-19 11:00:00
2021-7-19 12:00:00
2021-7-19 13:00:00
2021-7-19 14:00:00
2021-7-19 15:00:00
2021-7-19 16:00:00
2021-7-19 17:00:00
2021-7-19 18:00:00
2021-7-19 19:00:00
2021-7-19 20:00:00
2021-7-19 21:00:00
2021-7-19 22:00:00
2021-7-19 23:00:00
2021-7-20 0:00:00
2021-7-20 1:00:00
2021-7-20 2:00:00
2021-7-20 3:00:00
2021-7-20 4:00:00
2021-7-20 5:00:00
2021-7-20 6:00:00
2021-7-20 7:00:00
2021-7-20 8:00:00
2021-7-20 9:00:00
2021-7-20 10:00:00
2021-7-20 11:00:00
2021-7-20 12:00:00
2021-7-20 13:00:00
2021-7-20 14:00:00
2021-7-20 15:00:00
2021-7-20 16:00:00
2021-7-20 17:00:00
2021-7-20 18:00:00
2021-7-20 19:00:00
2021-7-20 20:00:00
2021-7-20 21:00:00
2021-7-20 22:00:00
2021-7-20 23:00:00
2021-7-21 0:00:00
2021-7-21 1:00:00
2021-7-21 2:00:00
2021-7-21 3:00:00
2021-7-21 4:00:00
2021-7-21 5:00:00
2021-7-21 6:00:00
2021-7-21 7:00:00
2021-7-21 8:00:00
2021-7-21 9:00:00
2021-7-21 10:00:00
2021-7-21 11:00:00
2021-7-21 12:00:00
2021-7-21 13:00:00
2021-7-21 14:00:00
2021-7-21 15:00:00
2021-7-21 16:00:00
2021-7-21 17:00:00
2021-7-21 18:00:00
2021-7-21 19:00:00
2021-7-21 20:00:00
2021-7-21 21:00:00
2021-7-21 22:00:00
2021-7-21 23:00:00
2021-7-22 0:00:00
2021-7-22 1:00:00
2021-7-22 2:00:00
2021-7-22 3:00:00
2021-7-22 4:00:00
2021-7-22 5:00:00
2021-7-22 6:00:00
2021-7-22 7:00:00
2021-7-22 8:00:00
2021-7-22 9:00:00
2021-7-22 10:00:00
2021-7-22 11:00:00
2021-7-22 12:00:00
2021-7-22 13:00:00
2021-7-22 14:00:00
2021-7-22 15:00:00
2021-7-22 16:00:00
2021-7-22 17:00:00
2021-7-22 18:00:00
2021-7-22 19:00:00
2021-7-22 20:00:00
2021-7-22 21:00:00
2021-7-22 22:00:00
2021-7-22 23:00:00
2021-7-23 0:00:00
2021-7-23 1:00:00
2021-7-23 2:00:00
2021-7-23 3:00:00
2021-7-23 4:00:00
2021-7-23 5:00:00
2021-7-23 6:00:00
2021-7-23 7:00:00
2021-7-23 8:00:00
2021-7-23 9:00:00
2021-7-23 10:00:00
2021-7-23 11:00:00
2021-7-23 12:00:00
2021-7-23 13:00:00
2021-7-23 14:00:00
2021-7-23 15:00:00
2021-7-23 16:00:00
2021-7-23 17:00:00
2021-7-23 18:00:00
2021-7-23 19:00:00
2021-7-23 20:00:00
2021-7-23 21:00:00
2021-7-23 22:00:00
2021-7-23 23:00:00
2021-7-24 0:00:00
2021-7-24 1:00:00
2021-7-24 2:00:00
2021-7-24 3:00:00
2021-7-24 4:00:00
2021-7-24 5:00:00
2021-7-24 6:00:00
2021-7-24 7:00:00
2021-7-24 8:00:00
2021-7-24 9:00:00
2021-7-24 10:00:00
2021-7-24 11:00:00
2021-7-24 12:00:00
2021-7-24 13:00:00
2021-7-24 14:00:00
2021-7-24 15:00:00
2021-7-24 16:00:00
2021-7-24 17:00:00
2021-7-24 18:00:00
2021-7-24 19:00:00
2021-7-24 20:00:00
2021-7-24 21:00:00
2021-7-24 22:00:00
2021-7-24 23:00:00
2021-7-25 0:00:00
2021-7-25 1:00:00
2021-7-25 2:00:00
2021-7-25 3:00:00
2021-7-25 4:00:00
2021-7-25 5:00:00
2021-7-25 6:00:00
2021-7-25 7:00:00
2021-7-25 8:00:00
2021-7-25 9:00:00
2021-7-25 10:00:00
2021-7-25 11:00:00
2021-7-25 12:00:00
2021-7-25 13:00:00
2021-7-25 14:00:00
2021-7-25 15:00:00
2021-7-25 16:00:00
2021-7-25 17:00:00
2021-7-25 18:00:00
2021-7-25 19:00:00
2021-7-25 20:00:00
2021-7-25 21:00:00
2021-7-25 22:00:00
2021-7-25 23:00:00
2021-7-26 0:00:00
2021-7-26 1:00:00
2021-7-26 2:00:00
2021-7-26 3:00:00
2021-7-26 4:00:00
2021-7-26 5:00:00
2021-7-26 6:00:00
2021-7-26 7:00:00
2021-7-26 8:00:00
2021-7-26 9:00:00
2021-7-26 10:00:00
2021-7-26 11:00:00
2021-7-26 12:00:00
2021-7-26 13:00:00
2021-7-26 14:00:00
2021-7-26 15:00:00
2021-7-26 16:00:00
2021-7-26 17:00:00
2021-7-26 18:00:00
2021-7-26 19:00:00
2021-7-26 20:00:00
2021-7-26 21:00:00
2021-7-26 22:00:00
2021-7-26 23:00:00
2021-7-27 0:00:00
2021-7-27 1:00:00
2021-7-27 2:00:00
2021-7-27 3:00:00
2021-7-27 4:00:00
2021-7-27 5:00:00
2021-7-27 6:00:00
2021-7-27 7:00:00
2021-7-27 8:00:00
2021-7-27 9:00:00
2021-7-27 10:00:00
2021-7-27 11:00:00
2021-7-27 12:00:00
2021-7-27 13:00:00
2021-7-27 14:00:00
2021-7-27 15:00:00
2021-7-27 16:00:00
2021-7-27 17:00:00
2021-7-27 18:00:00
2021-7-27 19:00:00
2021-7-27 20:00:00
2021-7-27 21:00:00
2021-7-27 22:00:00
2021-7-27 23:00:00
2021-7-28 0:00:00
2021-7-28 1:00:00
2021-7-28 2:00:00
2021-7-28 3:00:00
2021-7-28 4:00:00
2021-7-28 5:00:00
2021-7-28 6:00:00
2021-7-28 7:00:00
2021-7-28 8:00:00
2021-7-28 9:00:00
2021-7-28 10:00:00
2021-7-28 11:00:00
2021-7-28 12:00:00
2021-7-28 13:00:00
2021-7-28 14:00:00
2021-7-28 15:00:00
2021-7-28 16:00:00
2021-7-28 17:00:00
2021-7-28 18:00:00
2021-7-28 19:00:00
2021-7-28 20:00:00
2021-7-28 21:00:00
2021-7-28 22:00:00
2021-7-28 23:00:00
2021-7-29 0:00:00
2021-7-29 1:00:00
2021-7-29 2:00:00
2021-7-29 3:00:00
2021-7-29 4:00:00
2021-7-29 5:00:00
2021-7-29 6:00:00
2021-7-29 7:00:00
2021-7-29 8:00:00
2021-7-29 9:00:00
2021-7-29 10:00:00
2021-7-29 11:00:00
2021-7-29 12:00:00
2021-7-29 13:00:00
2021-7-29 14:00:00
2021-7-29 15:00:00
2021-7-29 16:00:00
2021-7-29 17:00:00
2021-7-29 18:00:00
2021-7-29 19:00:00
2021-7-29 20:00:00
2021-7-29 21:00:00
2021-7-29 22:00:00
2021-7-29 23:00:00
2021-7-30 0:00:00
2021-7-30 1:00:00
2021-7-30 2:00:00
2021-7-30 3:00:00
2021-7-30 4:00:00
2021-7-30 5:00:00
2021-7-30 6:00:00
2021-7-30 7:00:00
2021-7-30 8:00:00
2021-7-30 9:00:00
2021-7-30 10:00:00
2021-7-30 11:00:00
2021-7-30 12:00:00
2021-7-30 13:00:00
2021-7-30 14:00:00
2021-7-30 15:00:00
2021-7-30 16:00:00
2021-7-30 17:00:00
2021-7-30 18:00:00
2021-7-30 19:00:00
2021-7-30 20:00:00
2021-7-30 21:00:00
2021-7-30 22:00:00
2021-7-30 23:00:00
2021-7-31 0:00:00
2021-7-31 1:00:00
2021-7-31 2:00:00
2021-7-31 3:00:00
2021-7-31 4:00:00
2021-7-31 5:00:00
2021-7-31 6:00:00
2021-7-31 7:00:00
2021-7-31 8:00:00
2021-7-31 9:00:00
2021-7-31 10:00:00
2021-7-31 11:00:00
2021-7-31 12:00:00
2021-7-31 13:00:00
2021-7-31 14:00:00
2021-7-31 15:00:00
2021-7-31 16:00:00
2021-7-31 17:00:00
2021-7-31 18:00:00
2021-7-31 19:00:00
2021-7-31 20:00:00
2021-7-31 21:00:00
2021-7-31 22:00:00
2021-7-31 23:00:00

In [197]:
len(data.loc['2019-05-01':'2021-07-13 07:00'])

19304

In [200]:
d=data.loc['2019-05-01 08:00':'2021-07-13 07:00']

In [201]:
d.index

DatetimeIndex(['2019-05-01 08:00:00', '2019-05-01 09:00:00',
               '2019-05-01 10:00:00', '2019-05-01 11:00:00',
               '2019-05-01 12:00:00', '2019-05-01 13:00:00',
               '2019-05-01 14:00:00', '2019-05-01 15:00:00',
               '2019-05-01 16:00:00', '2019-05-01 17:00:00',
               ...
               '2021-07-12 22:00:00', '2021-07-12 23:00:00',
               '2021-07-13 00:00:00', '2021-07-13 01:00:00',
               '2021-07-13 02:00:00', '2021-07-13 03:00:00',
               '2021-07-13 04:00:00', '2021-07-13 05:00:00',
               '2021-07-13 06:00:00', '2021-07-13 07:00:00'],
              dtype='datetime64[ns]', name='time', length=19296, freq=None)

In [202]:
d.to_excel('./data/AcDataA_pre.xlsx')

In [186]:
data.sort_values(by='time', inplace=True)

In [187]:
data

,SO2,NO2,PM10,PM2.5,O3,CO,T,H,P,WS,WD
time,,,,,,,,,,,
2019-04-16 00:00:00,5.0,75.0,61.0,38.0,1.0,1.0,21.1,89.0,1013.0,1.2,346.5
2019-04-16 01:00:00,5.0,64.0,60.0,41.0,25.0,0.8,20.4,92.0,1012.4,1.1,18.0
2019-04-16 02:00:00,4.0,60.0,36.0,40.0,25.0,0.8,20.0,93.0,1011.3,1.1,65.9
2019-04-16 03:00:00,4.0,39.0,35.0,33.0,41.0,0.7,19.8,93.0,1010.4,1.5,78.4
2019-04-16 04:00:00,4.0,39.0,28.0,39.0,36.0,0.8,19.9,92.0,1010.0,1.5,73.5
...,...,...,...,...,...,...,...,...,...,...,...
2021-07-13 03:00:00,6.0,12.0,12.0,0.0,14.0,0.4,29.2,78.0,1006.2,0.8,350.5
2021-07-13 04:00:00,7.0,15.0,9.0,0.0,11.0,0.4,29.2,78.0,1006.3,0.7,246.3
2021-07-13 05:00:00,9.0,19.0,9.0,2.0,8.0,0.4,29.2,78.0,1006.4,1.0,253.2
2021-07-13 06:00:00,8.0,20.0,22.0,5.0,6.0,0.4,29.0,81.0,1006.8,0.5,267.9
2021-07-13 07:00:00,8.0,14.0,22.0,5.0,19.0,0.4,30.2,75.0,1007.0,1.2,240.9

In [159]:

for j in range(0,24):
    istr=('2019-05-'+str(6)+' '+str(j)+':00:00')
    istr1=('2019-05-'+str(6)+' '+str(j-1)+':00:00')
    if istr not in data.index:
        data.loc[pd.to_datetime(istr)]=data.loc[istr1]

In [162]:
data.sort_values(by='time', inplace=True)

In [163]:
data.loc['2019-05-'+str(6)]

,SO2,NO2,PM10,PM2.5,O3,CO,T,H,P,WS,WD
time,,,,,,,,,,,
2019-05-06 00:00:00,7.000000,43.000000,16.000000,15.000000,18.0,0.700000,20.100000,94.000000,1007.400000,1.300000,32.500000
2019-05-06 01:00:00,7.000000,39.000000,22.000000,17.000000,19.0,0.700000,20.000000,94.000000,1006.800000,1.400000,31.000000
2019-05-06 02:00:00,7.000000,42.000000,25.000000,20.000000,15.0,0.700000,19.900000,94.000000,1006.400000,1.500000,20.300000
2019-05-06 03:00:00,5.000000,42.000000,16.000000,11.000000,15.0,0.600000,19.900000,94.000000,1006.100000,1.400000,24.300000
2019-05-06 04:00:00,5.000000,43.000000,11.000000,11.000000,13.0,0.600000,19.900000,95.000000,1006.200000,1.200000,32.400000
2019-05-06 05:00:00,6.000000,38.000000,10.000000,8.000000,20.0,0.600000,19.900000,95.000000,1006.600000,1.400000,30.500000
2019-05-06 06:00:00,5.000000,37.000000,10.000000,5.000000,19.0,0.600000,19.800000,95.000000,1006.900000,1.300000,29.000000
2019-05-06 07:00:00,5.000000,44.000000,12.000000,6.000000,13.0,0.700000,20.000000,95.000000,1007.500000,1.400000,26.000000
2019-05-06 08:00:00,4.000000,48.000000,13.000000,8.000000,12.0,0.700000,20.200000,95.000000,1007.800000,1.600000,36.700000
2019-05-06 09:00:00,4.000000,49.000000,15.000000,8.000000,13.0,0.700000,20.400000,95.000000,1008.400000,1.500000,31.500000
2019-05-06 10:00:00,4.000000,48.000000,18.000000,7.000000,16.0,0.700000,20.800000,93.000000,1008.300000,1.600000,35.200000
2019-05-06 11:00:00,6.000000,47.000000,21.000000,10.000000,21.0,0.700000,21.300000,89.000000,1008.000000,1.900000,33.000000
2019-05-06 12:00:00,6.000000,43.000000,24.000000,13.000000,33.0,0.700000,21.900000,86.000000,1007.900000,1.900000,46.100000
2019-05-06 13:00:00,6.000000,39.000000,24.000000,18.000000,49.0,0.600000,22.200000,84.000000,1007.400000,2.000000,41.400000
2019-05-06 14:00:00,5.500000,50.000000,38.000000,17.000000,24.0,0.800000,21.400000,90.000000,1006.000000,1.900000,27.000000
2019-05-06 15:00:00,5.500000,50.000000,38.000000,17.000000,24.0,0.800000,21.400000,90.000000,1006.000000,1.900000,27.000000
2019-05-06 16:00:00,5.000000,58.000000,28.000000,14.000000,16.5,0.800000,21.100000,92.000000,1005.800000,1.800000,22.000000
2019-05-06 17:00:00,5.000000,62.000000,20.000000,14.000000,9.0,0.800000,20.900000,94.000000,1006.100000,1.600000,27.600000
2019-05-06 18:00:00,5.000000,57.000000,26.000000,12.000000,12.0,0.800000,20.800000,94.000000,1006.400000,1.600000,39.500000
2019-05-06 19:00:00,5.000000,52.000000,14.000000,13.000000,14.0,0.700000,20.800000,94.000000,1007.000000,1.700000,31.000000
2019-05-06 20:00:00,5.133333,50.466667,14.866667,12.866667,15.6,0.693333,20.846667,93.066667,1007.166667,1.766667,33.220000
2019-05-06 21:00:00,5.142857,46.642857,14.000000,10.071429,18.5,0.692857,20.664286,93.000000,1007.921429,1.585714,49.721429
2019-05-06 22:00:00,5.285714,45.285714,15.000000,10.142857,20.0,0.685714,20.728571,92.000000,1008.042857,1.671429,50.842857
2019-05-06 23:00:00,5.428571,43.928571,16.000000,10.214286,21.5,0.678571,20.792857,91.000000,1008.164286,1.757143,51.964286

In [74]:
from datetime import datetime
pd.to_datetime(data.loc[0,'time'], format='%Y-%m-%d %H:%M:%S').hour

0

In [ ]:
data.loc[0,'time']

In [ ]:
for i in range(19431):

In [48]:
import torch

In [49]:
data.drop('time', axis=1, inplace=True)

In [50]:
data.drop('pos', axis=1, inplace=True)
data.drop('AQI', axis=1, inplace=True)
data.drop('MainPStr', axis=1, inplace=True)
data.drop('MainP', axis=1, inplace=True)
data.drop('DAQI', axis=1, inplace=True)

In [55]:
d=data

In [54]:
d.loc[0,"T"]==data.loc[0,"T"]

True

In [52]:
d["T"] = pd.to_numeric(d["T"],errors='coerce')
d["H"] = pd.to_numeric(d["H"],errors='coerce')
d["P"] = pd.to_numeric(d["P"],errors='coerce')
d["WS"] = pd.to_numeric(d["WS"],errors='coerce')
d["WD"] = pd.to_numeric(d["WD"],errors='coerce')
d["SO2"] = pd.to_numeric(d["SO2"],errors='coerce')
d["NO2"] = pd.to_numeric(d["NO2"],errors='coerce')
d["PM10"] = pd.to_numeric(d["PM10"],errors='coerce')
d["PM2.5"] = pd.to_numeric(d["PM2.5"],errors='coerce')
d["O3"] = pd.to_numeric(d["O3"],errors='coerce')
d["CO"] = pd.to_numeric(d["CO"],errors='coerce')

In [53]:
d.dropna(axis=0,how='any')

       SO2   NO2  PM10  PM2.5    O3   CO     T     H       P   WS     WD
0      5.0  75.0  61.0   38.0   1.0  1.0  21.1  89.0  1013.0  1.2  346.5
1      5.0  64.0  60.0   41.0  25.0  0.8  20.4  92.0  1012.4  1.1   18.0
2      4.0  60.0  36.0   40.0  25.0  0.8  20.0  93.0  1011.3  1.1   65.9
3      4.0  39.0  35.0   33.0  41.0  0.7  19.8  93.0  1010.4  1.5   78.4
4      4.0  39.0  28.0   39.0  36.0  0.8  19.9  92.0  1010.0  1.5   73.5
...    ...   ...   ...    ...   ...  ...   ...   ...     ...  ...    ...
19427  6.0  12.0  12.0    0.0  14.0  0.4  29.2  78.0  1006.2  0.8  350.5
19428  7.0  15.0   9.0    0.0  11.0  0.4  29.2  78.0  1006.3  0.7  246.3
19429  9.0  19.0   9.0    2.0   8.0  0.4  29.2  78.0  1006.4  1.0  253.2
19430  8.0  20.0  22.0    5.0   6.0  0.4  29.0  81.0  1006.8  0.5  267.9
19431  8.0  14.0  22.0    5.0  19.0  0.4  30.2  75.0  1007.0  1.2  240.9

[19432 rows x 11 columns]

In [11]:
d=d.dropna(axis=0,how='any')

In [56]:
d = d.apply(lambda x: (x - min(x)) / (max(x) - min(x)))  # min-max标准化

In [58]:
d

,SO2,NO2,PM10,PM2.5,O3,CO,T,H,P,WS,WD
0,0.142857,0.349282,0.294118,0.255952,0.007371,0.375000,0.472222,0.882353,0.546218,0.192982,0.962500
1,0.142857,0.296651,0.289593,0.273810,0.066339,0.291667,0.450617,0.917647,0.529412,0.175439,0.050000
2,0.122449,0.277512,0.180995,0.267857,0.066339,0.291667,0.438272,0.929412,0.498599,0.175439,0.183056
3,0.122449,0.177033,0.176471,0.226190,0.105651,0.250000,0.432099,0.929412,0.473389,0.245614,0.217778
4,0.122449,0.177033,0.144796,0.261905,0.093366,0.291667,0.435185,0.917647,0.462185,0.245614,0.204167
...,...,...,...,...,...,...,...,...,...,...,...
19427,0.163265,0.047847,0.072398,0.029762,0.039312,0.125000,0.722222,0.752941,0.355742,0.122807,0.973611
19428,0.183673,0.062201,0.058824,0.029762,0.031941,0.125000,0.722222,0.752941,0.358543,0.105263,0.684167
19429,0.224490,0.081340,0.058824,0.041667,0.024570,0.125000,0.722222,0.752941,0.361345,0.157895,0.703333
19430,0.204082,0.086124,0.117647,0.059524,0.019656,0.125000,0.716049,0.788235,0.372549,0.070175,0.744167
19431,0.204082,0.057416,0.117647,0.059524,0.051597,0.125000,0.753086,0.717647,0.378151,0.192982,0.669167

In [14]:
d=d.loc[7:]

In [15]:
d

,SO2,NO2,PM10,PM2.5,O3,CO,T,H,P,WS,WD
7,0.163265,0.224880,0.190045,0.315476,0.068796,0.250000,0.444444,0.894118,0.504202,0.192982,0.027222
8,0.142857,0.263158,0.158371,0.279762,0.061425,0.291667,0.438272,0.917647,0.537815,0.315789,0.990833
9,0.142857,0.267943,0.067873,0.226190,0.054054,0.291667,0.429012,0.917647,0.549020,0.298246,0.057222
10,0.122449,0.229665,0.031674,0.065476,0.081081,0.291667,0.441358,0.905882,0.537815,0.228070,0.218889
11,0.122449,0.244019,0.063348,0.071429,0.095823,0.333333,0.466049,0.870588,0.529412,0.175439,0.662778
...,...,...,...,...,...,...,...,...,...,...,...
19427,0.163265,0.047847,0.072398,0.029762,0.039312,0.125000,0.722222,0.752941,0.355742,0.122807,0.973611
19428,0.183673,0.062201,0.058824,0.029762,0.031941,0.125000,0.722222,0.752941,0.358543,0.105263,0.684167
19429,0.224490,0.081340,0.058824,0.041667,0.024570,0.125000,0.722222,0.752941,0.361345,0.157895,0.703333
19430,0.204082,0.086124,0.117647,0.059524,0.019656,0.125000,0.716049,0.788235,0.372549,0.070175,0.744167
19431,0.204082,0.057416,0.117647,0.059524,0.051597,0.125000,0.753086,0.717647,0.378151,0.192982,0.669167

In [59]:
import numpy as np
np.array(d.iloc[0:(0 + 3), ].values, dtype=np.float32)

array([[0.14285715, 0.3492823 , 0.29411766, 0.2559524 , 0.00737101,
        0.375     , 0.4722222 , 0.88235295, 0.5462185 , 0.19298245,
        0.9625    ],
       [0.14285715, 0.2966507 , 0.28959277, 0.27380952, 0.06633907,
        0.29166666, 0.45061728, 0.91764706, 0.5294118 , 0.1754386 ,
        0.05      ],
       [0.12244898, 0.27751195, 0.18099548, 0.26785713, 0.06633907,
        0.29166666, 0.4382716 , 0.92941177, 0.49859944, 0.1754386 ,
        0.18305555]], dtype=float32)

In [60]:
d1=np.array(d.iloc[0:2, 0:6], dtype=np.float32)
d2=np.array(d.iloc[(0 + 2 + 2), 0:6], dtype=np.float32)
d3=np.array(d.iloc[(0 + 2 + 3), 0:6], dtype=np.float32)

In [62]:
np.mean(d1,axis=0)

array([0.14285715, 0.32296652, 0.29185522, 0.26488096, 0.03685504,
       0.3333333 ], dtype=float32)

In [35]:
y=np.concatenate((d1,d2,d3))

In [36]:
d1.size

6

In [37]:
y.size

18

In [38]:
d1.shape

(6,)

In [39]:
y.shape

(18,)

In [40]:
d1[-1]

0.29166666

In [41]:
d1

array([0.12244898, 0.22966507, 0.03167421, 0.06547619, 0.08108108,
       0.29166666], dtype=float32)